

@font-face {
    font-family: 'Std Book';
    src: url('../fonts/CircularStd-Book.woff') format('woff');
}
@font-face {
    font-family: 'Std Medium';
    src: url('FileName.eot');
    src: url('FileName.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CircularStd-Medium.woff') format('woff'),
         url('FileName.ttf') format('truetype'),
         url('FileName.svg#Std BookItalic') format('svg');
         font-weight: normal;
}