@import 'colors';
@import 'global';
@import 'fonts';


body{
    background-color: $primary-color-1;
}

.header{
    height: 100vh;
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        margin-bottom: 90px;
    }
    
    &__menu{
        display: flex;
    }
    
    
    &__menu-item{
        position: relative;
        list-style: none;
        align-items: center;
    }
    &__menu-item + &__menu-item{
        padding-left: 65px;
    }
    &__menu-burger svg:nth-child(2){
        padding-left: 4px;
    }
    &__menu-burger{
        display: flex;
        flex-direction: column;
    }
    &__menu-burger svg + svg{
        padding-top: 4px;
    }
    
    &__food{
        padding-left: 80px;
        padding-top: 53px;
    }


    &__top{
        display: flex;
        flex-direction: row;
    }
    &__top-info{
        
    }
    &__top-subtitle{
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: $primary-color-3;
        position: relative;
        padding-left: 37px;
        margin-bottom: 17px;
    }
    &__top-title{
        // font-family: "";
        font-weight: 800;
        font-size: 96px;
        line-height: 108px;
        max-width: 550px;
        color: $primary-color-6;
        margin-bottom: 13px;
    }

    .subtitle-line::before{
        content: '';
        position: absolute;
        bottom: 4px;
        left: 6px;
        width: 27px;
        height: 1px;
        background-color: $primary-color-3;
    }
    &__top-text{
        font-weight: 450;
        font-size: 20px;
        line-height: 160%;
        color: #3F3232;
        padding-bottom: 44px;
    }
    &__top-btn{
        margin-bottom: 60px;
    }
    &__top-social{
        &-link + &-link{
            padding-left: 30px;
        }
    }
    &__top-image img{
        filter: drop-shadow(0px 20px 40px rgba(255, 169, 0, 0.15));
    }
    
}